// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-bt1-name: 'icon-bt1';
$icon-bt1-x: 226px;
$icon-bt1-y: 60px;
$icon-bt1-offset-x: -226px;
$icon-bt1-offset-y: -60px;
$icon-bt1-width: 24px;
$icon-bt1-height: 20px;
$icon-bt1-total-width: 274px;
$icon-bt1-total-height: 183px;
$icon-bt1-image: '../img/icon-set.png';
$icon-bt1: (226px, 60px, -226px, -60px, 24px, 20px, 274px, 183px, '../img/icon-set.png', 'icon-bt1', );
$icon-bt2-name: 'icon-bt2';
$icon-bt2-x: 250px;
$icon-bt2-y: 60px;
$icon-bt2-offset-x: -250px;
$icon-bt2-offset-y: -60px;
$icon-bt2-width: 24px;
$icon-bt2-height: 19px;
$icon-bt2-total-width: 274px;
$icon-bt2-total-height: 183px;
$icon-bt2-image: '../img/icon-set.png';
$icon-bt2: (250px, 60px, -250px, -60px, 24px, 19px, 274px, 183px, '../img/icon-set.png', 'icon-bt2', );
$icon-dnk-name: 'icon-dnk';
$icon-dnk-x: 0px;
$icon-dnk-y: 70px;
$icon-dnk-offset-x: 0px;
$icon-dnk-offset-y: -70px;
$icon-dnk-width: 53px;
$icon-dnk-height: 59px;
$icon-dnk-total-width: 274px;
$icon-dnk-total-height: 183px;
$icon-dnk-image: '../img/icon-set.png';
$icon-dnk: (0px, 70px, 0px, -70px, 53px, 59px, 274px, 183px, '../img/icon-set.png', 'icon-dnk', );
$icon-doc-name: 'icon-doc';
$icon-doc-x: 0px;
$icon-doc-y: 0px;
$icon-doc-offset-x: 0px;
$icon-doc-offset-y: 0px;
$icon-doc-width: 49px;
$icon-doc-height: 70px;
$icon-doc-total-width: 274px;
$icon-doc-total-height: 183px;
$icon-doc-image: '../img/icon-set.png';
$icon-doc: (0px, 0px, 0px, 0px, 49px, 70px, 274px, 183px, '../img/icon-set.png', 'icon-doc', );
$icon-galst-name: 'icon-galst';
$icon-galst-x: 107px;
$icon-galst-y: 0px;
$icon-galst-offset-x: -107px;
$icon-galst-offset-y: 0px;
$icon-galst-width: 64px;
$icon-galst-height: 50px;
$icon-galst-total-width: 274px;
$icon-galst-total-height: 183px;
$icon-galst-image: '../img/icon-set.png';
$icon-galst: (107px, 0px, -107px, 0px, 64px, 50px, 274px, 183px, '../img/icon-set.png', 'icon-galst', );
$icon-ico1-name: 'icon-ico1';
$icon-ico1-x: 108px;
$icon-ico1-y: 70px;
$icon-ico1-offset-x: -108px;
$icon-ico1-offset-y: -70px;
$icon-ico1-width: 55px;
$icon-ico1-height: 55px;
$icon-ico1-total-width: 274px;
$icon-ico1-total-height: 183px;
$icon-ico1-image: '../img/icon-set.png';
$icon-ico1: (108px, 70px, -108px, -70px, 55px, 55px, 274px, 183px, '../img/icon-set.png', 'icon-ico1', );
$icon-ico2-name: 'icon-ico2';
$icon-ico2-x: 53px;
$icon-ico2-y: 70px;
$icon-ico2-offset-x: -53px;
$icon-ico2-offset-y: -70px;
$icon-ico2-width: 55px;
$icon-ico2-height: 55px;
$icon-ico2-total-width: 274px;
$icon-ico2-total-height: 183px;
$icon-ico2-image: '../img/icon-set.png';
$icon-ico2: (53px, 70px, -53px, -70px, 55px, 55px, 274px, 183px, '../img/icon-set.png', 'icon-ico2', );
$icon-ico3-name: 'icon-ico3';
$icon-ico3-x: 171px;
$icon-ico3-y: 55px;
$icon-ico3-offset-x: -171px;
$icon-ico3-offset-y: -55px;
$icon-ico3-width: 55px;
$icon-ico3-height: 55px;
$icon-ico3-total-width: 274px;
$icon-ico3-total-height: 183px;
$icon-ico3-image: '../img/icon-set.png';
$icon-ico3: (171px, 55px, -171px, -55px, 55px, 55px, 274px, 183px, '../img/icon-set.png', 'icon-ico3', );
$icon-ico4-name: 'icon-ico4';
$icon-ico4-x: 171px;
$icon-ico4-y: 0px;
$icon-ico4-offset-x: -171px;
$icon-ico4-offset-y: 0px;
$icon-ico4-width: 55px;
$icon-ico4-height: 55px;
$icon-ico4-total-width: 274px;
$icon-ico4-total-height: 183px;
$icon-ico4-image: '../img/icon-set.png';
$icon-ico4: (171px, 0px, -171px, 0px, 55px, 55px, 274px, 183px, '../img/icon-set.png', 'icon-ico4', );
$icon-pdf-name: 'icon-pdf';
$icon-pdf-x: 226px;
$icon-pdf-y: 0px;
$icon-pdf-offset-x: -226px;
$icon-pdf-offset-y: 0px;
$icon-pdf-width: 48px;
$icon-pdf-height: 60px;
$icon-pdf-total-width: 274px;
$icon-pdf-total-height: 183px;
$icon-pdf-image: '../img/icon-set.png';
$icon-pdf: (226px, 0px, -226px, 0px, 48px, 60px, 274px, 183px, '../img/icon-set.png', 'icon-pdf', );
$icon-pen-name: 'icon-pen';
$icon-pen-x: 0px;
$icon-pen-y: 129px;
$icon-pen-offset-x: 0px;
$icon-pen-offset-y: -129px;
$icon-pen-width: 54px;
$icon-pen-height: 54px;
$icon-pen-total-width: 274px;
$icon-pen-total-height: 183px;
$icon-pen-image: '../img/icon-set.png';
$icon-pen: (0px, 129px, 0px, -129px, 54px, 54px, 274px, 183px, '../img/icon-set.png', 'icon-pen', );
$icon-vesi-name: 'icon-vesi';
$icon-vesi-x: 49px;
$icon-vesi-y: 0px;
$icon-vesi-offset-x: -49px;
$icon-vesi-offset-y: 0px;
$icon-vesi-width: 58px;
$icon-vesi-height: 58px;
$icon-vesi-total-width: 274px;
$icon-vesi-total-height: 183px;
$icon-vesi-image: '../img/icon-set.png';
$icon-vesi: (49px, 0px, -49px, 0px, 58px, 58px, 274px, 183px, '../img/icon-set.png', 'icon-vesi', );
$spritesheet-width: 274px;
$spritesheet-height: 183px;
$spritesheet-image: '../img/icon-set.png';
$spritesheet-sprites: ($icon-bt1, $icon-bt2, $icon-dnk, $icon-doc, $icon-galst, $icon-ico1, $icon-ico2, $icon-ico3, $icon-ico4, $icon-pdf, $icon-pen, $icon-vesi, );
$spritesheet: (274px, 183px, '../img/icon-set.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
